@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #dc2626;
  --color-primary-dark: #ef4444;
}

@layer base {
  :root {
    font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
}